{:deps    {cheshire           {:mvn/version "5.8.1"}
           clj-http           {:mvn/version "3.4.0"}
           http-kit           {:mvn/version "2.6.0"}}
 :aliases {:main {:main-opts ["-m" "thortech.main"]}}}
